.box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    transition: all 1.2s ease;
    color: #fff; /* ローディングアニメーションカラー */
    background-color: #333; /* 背景カラー */
}

/* ローディングアニメーション */
.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    width: 120px;
    height: 120px;
}

  /* Loading テキスト */
.spinner span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
}

/* 1番目のアニメーションの場合 */
.spinner.type1 {
    border-radius: 50%;
    border-width: 8px;
    border-style: solid;
    border-color: #fff rgba(255, 255, 255, 0.12) rgba(255, 255, 255, 0.12);
    animation: spinner1_1 1.5s infinite linear forwards;
}
.spinner.type1 span {
  /* Loading テキストのアニメーションを指定 */
    animation: spinner_loading_text 1.5s infinite linear forwards reverse;
}

@keyframes spinner1_1 {
    0% {
        transform: translate(-50%, -50%) rotate(0);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/* Loading テキストのアニメーション内容 */
@keyframes spinner_loading_text {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg);
    }
    50% {
        opacity: 0;
        transform: translate(-50%, -50%) rotate(180deg);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(360deg);
    }
}