.rain {
  background-color: #102030;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.rain > div {
  -webkit-animation: rain 500ms linear infinite;
          animation: rain 500ms linear infinite;
  background-color: rgba(255, 255, 255, 0.25);
  position: absolute;
  left: 0;
  top: -20vh;
  width: 1px;
  height: 20vh;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.rain > div:nth-child(1) {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
  -webkit-animation-duration: 498ms;
          animation-duration: 498ms;
  left: 67vw;
}

.rain > div:nth-child(2) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
  -webkit-animation-duration: 596ms;
          animation-duration: 596ms;
  left: 76vw;
}

.rain > div:nth-child(3) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
  -webkit-animation-duration: 398ms;
          animation-duration: 398ms;
  left: 77vw;
}

.rain > div:nth-child(4) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
  -webkit-animation-duration: 437ms;
          animation-duration: 437ms;
  left: 17vw;
}

.rain > div:nth-child(5) {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
  -webkit-animation-duration: 471ms;
          animation-duration: 471ms;
  left: 92vw;
}

.rain > div:nth-child(6) {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
  -webkit-animation-duration: 624ms;
          animation-duration: 624ms;
  left: 94vw;
}

.rain > div:nth-child(7) {
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
  -webkit-animation-duration: 432ms;
          animation-duration: 432ms;
  left: 87vw;
}

.rain > div:nth-child(8) {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
  -webkit-animation-duration: 416ms;
          animation-duration: 416ms;
  left: 34vw;
}

.rain > div:nth-child(9) {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
  -webkit-animation-duration: 570ms;
          animation-duration: 570ms;
  left: 54vw;
}

.rain > div:nth-child(10) {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
  -webkit-animation-duration: 387ms;
          animation-duration: 387ms;
  left: 29vw;
}

.rain > div:nth-child(11) {
  -webkit-animation-delay: 1100ms;
          animation-delay: 1100ms;
  -webkit-animation-duration: 620ms;
          animation-duration: 620ms;
  left: 18vw;
}

.rain > div:nth-child(12) {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
  -webkit-animation-duration: 554ms;
          animation-duration: 554ms;
  left: 64vw;
}

.rain > div:nth-child(13) {
  -webkit-animation-delay: 1300ms;
          animation-delay: 1300ms;
  -webkit-animation-duration: 526ms;
          animation-duration: 526ms;
  left: 58vw;
}

.rain > div:nth-child(14) {
  -webkit-animation-delay: 1400ms;
          animation-delay: 1400ms;
  -webkit-animation-duration: 473ms;
          animation-duration: 473ms;
  left: 39vw;
}

.rain > div:nth-child(15) {
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
  -webkit-animation-duration: 497ms;
          animation-duration: 497ms;
  left: 78vw;
}

.rain > div:nth-child(16) {
  -webkit-animation-delay: 1600ms;
          animation-delay: 1600ms;
  -webkit-animation-duration: 609ms;
          animation-duration: 609ms;
  left: 14vw;
}

.rain > div:nth-child(17) {
  -webkit-animation-delay: 1700ms;
          animation-delay: 1700ms;
  -webkit-animation-duration: 550ms;
          animation-duration: 550ms;
  left: 35vw;
}

.rain > div:nth-child(18) {
  -webkit-animation-delay: 1800ms;
          animation-delay: 1800ms;
  -webkit-animation-duration: 488ms;
          animation-duration: 488ms;
  left: 26vw;
}

.rain > div:nth-child(19) {
  -webkit-animation-delay: 1900ms;
          animation-delay: 1900ms;
  -webkit-animation-duration: 516ms;
          animation-duration: 516ms;
  left: 48vw;
}

.rain > div:nth-child(20) {
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
  -webkit-animation-duration: 464ms;
          animation-duration: 464ms;
  left: 20vw;
}

.rain > div:nth-child(21) {
  -webkit-animation-delay: 2100ms;
          animation-delay: 2100ms;
  -webkit-animation-duration: 491ms;
          animation-duration: 491ms;
  left: 41vw;
}

.rain > div:nth-child(22) {
  -webkit-animation-delay: 2200ms;
          animation-delay: 2200ms;
  -webkit-animation-duration: 587ms;
          animation-duration: 587ms;
  left: 63vw;
}

.rain > div:nth-child(23) {
  -webkit-animation-delay: 2300ms;
          animation-delay: 2300ms;
  -webkit-animation-duration: 598ms;
          animation-duration: 598ms;
  left: 27vw;
}

.rain > div:nth-child(24) {
  -webkit-animation-delay: 2400ms;
          animation-delay: 2400ms;
  -webkit-animation-duration: 528ms;
          animation-duration: 528ms;
  left: 31vw;
}

.rain > div:nth-child(25) {
  -webkit-animation-delay: 2500ms;
          animation-delay: 2500ms;
  -webkit-animation-duration: 601ms;
          animation-duration: 601ms;
  left: 14vw;
}

@-webkit-keyframes rain {
  from {
    -webkit-transform: rotate(-5deg) translateY(-20vh);
            transform: rotate(-5deg) translateY(-20vh);
  }
  to {
    -webkit-transform: rotate(-5deg) translateY(120vh);
            transform: rotate(-5deg) translateY(120vh);
  }
}

@keyframes rain {
  from {
    -webkit-transform: rotate(-5deg) translateY(-20vh);
            transform: rotate(-5deg) translateY(-20vh);
  }
  to {
    -webkit-transform: rotate(-5deg) translateY(120vh);
            transform: rotate(-5deg) translateY(120vh);
  }
}
