.box1 {
  background-color: orange;
  width: 100px;
  height: 100px;
}

.box2 {
  background-color: skyblue;
  width: 100px;
  height: 100px;
  position: relative;
}

.box3 {
  background-color: tomato;
  width: 100px;
  height: 100px;
}

.rect {
  width: 50px;
  height: 20px;
  background-color: lime;
  position: absolute;
  top: -5px;
  left: -5px;
}
