section {
  display: flex;
  margin-bottom: 64px;
  justify-content: space-between;
}

section:nth-child(even) {
  flex-direction: row-reverse;
}

.pic {
  width: 180px;
}

.desc {
  width: calc(100% - 180px - 32px);
}
